<style>
    #home{
        border: 2px solid rgb(23, 42, 44);
        padding: 30px;
        font-size: 30px;
    }
    .button {
        position: absolute;
        top: 250px;
        right: 30px;
        background-color: #130b3b;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 25px;
    }
</style>
<form action="logout">
    <button class="button" name="details" type="submit">logout</button>
</form>
<section id="home">
    Welcome {{name}} <br>
    Orders Accepted : 0 <br>
    Average Rating : 0 <br>
    No ratings were given yet!
</section>

